{% extends 'theme1.swig' %}

{% block body %}
<section class="content">
<div class="text-center">
	<a href="/" style="margin: auto">
		<img class="logo-alt" src="/images/logo.png" alt="logo">
	</a>
</div>

	<div class="container-center animated slideInDown">

		<div class="view-header">
			<div class="header-icon">
				<i class="pe page-header-icon pe-7s-unlock"></i>
			</div>
			<div class="header-title">
				<h3>Reset Password</h3>
				<small>
					Please enter your new login password.
				</small>
			</div>
		</div>

		<div class="panel panel-filled">
			<div class="panel-body">
				<form action="/user/resetPassword" method="post" class="form-vertical" id="reset-pswd">
					<div class="form-group text-left">
						<label>New Password</label>
						<input type="password" name="new_password" id="new_password" class="form-control input-lg" required />
					</div>

					<div class="form-group text-left">
						<label>Retype Password</label>
						<input type="password" name="v_password" id="v_password" class="form-control input-lg" required />
					</div>
					<div class="alert hidden" id="pswd-alert"></div>
					<div>
						<button type="submit" class="btn btn-accent pull-right"> Change Password</button>
						<a class="btn btn-default" href="/register">Register</a>
					</div>
					<button type="submit" class="btn btn-info input-lg btn-block hidden"><i class="fa fa-sign-in fa-lg"></i>&nbsp; Change Password </button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- End main content-->

{% endblock %}

{% block scriptTag %}
<script>
$(document).ready(function() {
	$("#reset-pswd").submit(function(e) {
		e.preventDefault();
		$.post('/user/resetPassword', $(this).serialize(), function(d) {
			if (d.status.trim() == 'success') {
				$("#pswd-alert").addClass('alert-success').text('Your password reset was successful. Please go to the sign in page to sign in');
				$("#reset-pswd").find('button[type=submit]').prop('disabled', true);
			} else {
				$("#pswd-alert").addClass('alert-danger').text(d.msg);
			}
		});
	});
});
</script>