<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome to BTC Empower</title>
  <!--[if gte mso 10]>
      <style>
        body, table, td { font-family: Arial, Helvetica, sans-serif !important;}
      </style>
    <![endif]-->
</head>

<body>
<p>Greetings {{ name }} !</p>
<p>Welcome to BTC Empower</p>
<p>Please continue the sign up process by clicking on the following link.<br>
It will take you the last step of the sign up process.</p>
<a href="https://btc-empower.com/user/activate/{{ email }}/{{ hash }}">Confirm email</a>
</body>
</html>
