<!DOCTYPE html>
<html>

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome to BitXmining</title>
  <!--[if gte mso 10]>
      <style>
        body, table, td { font-family: Arial, Helvetica, sans-serif !important;}
      </style>
    <![endif]-->
  <style>
    /* Client reset */
      #outlook a{padding:0;}
      .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%!important;}
      body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
      table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
      img{-ms-interpolation-mode:bicubic;}
      /* bring inline */
      img {display: block; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic;}
      a img {border: none;}
      a {text-decoration: none; color: #0DDDC2;} /* text link */

      /* Responsive */
      @media only screen and (max-device-width: 450px) {
        #content-wrapper, #body-wrapper {
          width: 100%!important;
        }
        .c-responsive-container {
          display: inline-block;
          width: 100%
          padding: 0 16px;
        }
        .c-table-responsive {
          width: 100%;
        }
        .button {
          width: 100%!important;
          max-width: 300px;
        }
      }
  </style>
</head>

<body class=" layouts-application_mailer" data-rc="layouts/application_mailer" style="font-family:'Helvetica Neue', 'Arial', sans-serif;width:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;margin:0;padding:0;font-size:16px;line-height:24px">
  <table cellspacing="0" cellpadding="0" border="0" width="100%" class="table" id="body-wrapper" style="border-collapse:collapse;table-layout:fixed;margin:0 auto;min-width:100% !important;width:100% !important">
    <tr>
      <td style="border-collapse:collapse">
        <div class=" mailers-global-header" data-rc="mailers/global/header">
          <table cellspacing="0" cellpadding="0" border="0" width="100%" class="mailers-global-header__header-container " style="border-bottom:1px solid #eeeeee;margin-bottom:48px;border-collapse:collapse;min-width:100% !important;width:100% !important">
            <tr>
              <td align="center" style="border-collapse:collapse;text-align:center">

                <h1 class="s-margin1" style="margin:0;margin-top:16px;margin-bottom:16px;margin-left:16px;margin-right:16px">
<a href="#"><img width="150" height="70" alt="Republic" src="https://www.bitx-mining.com/images/logo.png" style="height:auto;line-height:100%;outline:none;text-decoration:none;display:inline-block;border:0 none">
</a>
</h1>

              </td>
            </tr>
          </table>
        </div>
        <table cellspacing="0" cellpadding="16px" border="0" width="100%" class="c-responsive-container" style="border-collapse:collapse;min-width:100% !important;width:100% !important">
          <tr>
            <td style="border-collapse:collapse">
              <table cellspacing="0" cellpadding="0" border="0" width="450" class="table" id="content-wrapper" align="center" style="border-collapse:collapse;table-layout:fixed;margin:0 auto">
                <tr>
                  <td style="border-collapse:collapse">
                    <div class=" mailers-user_mailer-signup_welcome" data-rc="mailers/user_mailer/signup_welcome">

                      <h1 class="c-emailTitle" style="margin:0;font-size:30px;line-height:48px;color:#333333;font-weight:200;text-align:center;margin-bottom:16px">Hi {{ user }},</h1>

                      <p class="c-emailText" style="margin:0;font-size:16px;line-height:24px;color:#777777;text-align:center;font-weight:300;margin-bottom:16px">You requested for a password reset, to proceed click on the button below.</p>
                      <p class="c-emailText s-paddingTop1" style="margin:0;padding-top:16px;font-size:16px;line-height:24px;color:#777777;text-align:center;font-weight:300;margin-bottom:16px">
                        <!--[if mso]>
                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word"
                            href="#"
                            style="height:48px;v-text-anchor:middle;width:240px;" arcsize="5%" strokecolor="#03A9F4"
                            fillcolor="#03A9F4">
                              <w:anchorlock/>
                              <center style="color:#ffffff;font-family:sans-serif;font-size:16px;">Reset Password</center>
                            </v:roundrect>
                          <![endif]-->
                        <a target="_blank" class="button" style="color:#03A9F4;border-radius:3px;display:inline-block;font-size:16px;line-height:50px;height:50px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;color:#fefefe;background-color:#222222;border:1px solid #222222;width:250px;background-color: #03A9F4; border: 1px solid #03A9F4; color: #ffffff; width: 240px; height: 48px; line-height: 48px"
                          href="{{ url }}">Reset Password</a>
                      </p>
                      <p class="s-paddingTop1 s-fontSize14 u-colorGray7 u-text-center u-fontWeight300" style="margin:0;font-size:14px;line-height:24px;padding-top:16px;text-align:center;font-weight:300;color:#777777">Can't click the button above? Copy and paste this link into your browser:</p>
                      <p class="s-fontSize14 u-colorGray5 u-text-center u-fontWeight300 s-paddingTop0_5" style="margin:0;font-size:14px;line-height:24px;padding-top:8px;text-align:center;font-weight:300;color:#555555">{{ url }}</p>
                      <hr class="s-marginTop3 s-marginBottom2" style="margin-top:15px;margin-bottom:16px;border:0;border-top:1px solid #eeeeee;margin-bottom:32px;margin-top:48px">
                      <table cellspacing="0" cellpadding="0" border="0" width="400" class="table" align="center" style="border-collapse:collapse">
                        <tr>
                          <td valign="middle" style="border-collapse:collapse;vertical-align:middle">
                            <img width="60px" height="60px" class="s-marginTop0_5" src="https://bitx-mining.com/images/discover-95fd5a6c059c1bd9c44c7e9a191f15a6d823e6c9ada10a29c7ea170a621ef7ea.png" alt="Discover" style="margin-top:8px;border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;display:inline-block">
                          </td>
                          <td class="s-paddingLeft2 s-paddingVert1" style="padding-top:16px;padding-bottom:16px;padding-left:32px;border-collapse:collapse">
                            <div class="s-fontSize22 u-colorGray2 u-fontWeight300" style="font-size:22px;line-height:32px;font-weight:300;color:#222222">Discover</div>
                            <div class="u-colorGray8 s-marginTop0_5 u-fontWeight300 s-fontSize17" style="font-size:17px;line-height:32px;margin-top:8px;font-weight:300;color:#888888">Learn how BitxMining could help you mine Bitcoin by being part of our mining pool</div>
                          </td>
                        </tr>
                        <tr>
                          <td valign="middle" style="border-collapse:collapse;vertical-align:middle">
                            <img width="60px" height="44px" class="s-marginTop0_5" src="https://bitx-mining.com/images/learn-a8592391ec05a25a453341bbbd5eb54fe12dbb896596b040bb67e35c97c80ee8.png" alt="Learn" style="margin-top:8px;border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;display:inline-block">
                          </td>
                          <td class="s-paddingLeft2 s-paddingVert1" style="padding-top:16px;padding-bottom:16px;padding-left:32px;border-collapse:collapse">
                            <div class="s-fontSize22 u-colorGray2 u-fontWeight300" style="font-size:22px;line-height:32px;font-weight:300;color:#222222">Become an investor</div>
                            <div class="u-colorGray8 s-marginTop0_5 u-fontWeight300 s-fontSize17" style="font-size:17px;line-height:32px;margin-top:8px;font-weight:300;color:#888888">Browse through our various investment plans &amp; choose the investment option you want</div>
                          </td>
                        </tr>
                        <tr>
                          <td valign="middle" style="border-collapse:collapse;vertical-align:middle">
                            <img width="60px" height="49px" class="s-marginTop0_5" src="https://bitx-mining.com/images/invest-356e3dee480ada4fdd4ec4d077c6ef958b88020d0dbc853baf2986c3c0e70a66.png" alt="Invest" style="margin-top:8px;border:0 none;height:auto;line-height:100%;outline:none;text-decoration:none;display:inline-block">
                          </td>
                          <td class="s-paddingLeft2 s-paddingVert1" style="padding-top:16px;padding-bottom:16px;padding-left:32px;border-collapse:collapse">
                            <div class="s-fontSize22 u-colorGray2 u-fontWeight300" style="font-size:22px;line-height:32px;font-weight:300;color:#222222">Make profit</div>
                            <div class="u-colorGray8 s-marginTop0_5 u-fontWeight300 s-fontSize17" style="font-size:17px;line-height:32px;margin-top:8px;font-weight:300;color:#888888">With our sophisticated mining hardware (AntMiner S9), you are guaranteed of making profits every week.</div>
                          </td>
                        </tr>
                      </table>
                      <hr class="s-marginTop2 s-marginBottom2" style="margin-top:15px;margin-bottom:16px;border:0;border-top:1px solid #eeeeee;margin-top:32px;margin-bottom:32px">
                      <p class="s-marginTop1 u-text-center s-fontSize14 u-colorGrayA" style="margin:0;font-size:14px;line-height:24px;margin-top:16px;text-align:center;color:#AAAAAA">6 Kirby Street, London, EC1N 8TS, United Kingdom.
                      </p>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</body>

</html>
